.appBody {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.leftContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.contentContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  gap: 15px;
  overflow: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  width: 100%;
  overflow: auto;
}
