<div class="sidebarContainer">
  <h1 class="title">Docket</h1>
  <mat-divider class="topdivider"></mat-divider>
  <div class="buttonContainer">
    <button mat-fab color="basic">
      <mat-icon>library_add </mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      (click)="changeColor('#3f51b5')"
    ></button>
    <button
      mat-mini-fab
      color="accent"
      (click)="changeColor('#ff4081')"
    ></button>
    <button mat-mini-fab color="warn" (click)="changeColor('#f44336')"></button>
  </div>
</div>
